.text-center {
    background-color:darkred;
}

h1 {
    color:white;
}

.timerBox {
    float: right;
    text-align: right;
    width: 85px;
    color: red  ;
    font-weight: 700;
    font-size: 15px;
    background-color: lightgrey ;
    border: none;
    margin-right: 3px;
}

body {
    background-color: lightgray;
}

.scores {
    float: left;
    border: none;
    background-color: lightgrey;
}

button {
    background-color: white;
    color: black;
    
}

.myStartButton {
    margin-bottom: 40px;
    text-align: center;
    
}

.myButtons {
    text-align: center;
    background-color:darkgrey;
    ;
}

.questions {
    text-align: center;
    font-size: 25px;
}

.hidden {
    /* display: none; */
    background-color:lightgrey;
}

.startBtn {
    border-radius: 6px;
    background-color: green;
    color: white;
}

.allOtherBtn {
    border-radius: 10px;
    margin-bottom: 2px;
}

body {
    text-align: center;
    
}

#questionEl {
    margin-bottom: 5px;
    margin-top: 18px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    background-color: lightgrey;
    
}

#btnEl0 {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    margin-right: 3px;
    margin-top: 5px;
}

#btnEl1 {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    margin-right: 3px;
    margin-top: 5px;
}

#btnEl2 {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    margin-right: 3px;
    margin-top: 5px;
}

#btnEl3 {
    background-color: darkred;
    color: white;
    border-radius: 10px;
    margin-top: 5px;
}

#questionSectionEl {
    /* height: 75px; */
    padding-top: 5px;
}

